{% extends "base.html" %}
{% block title %} Add Project {% endblock %}

{% block body %}

<form method="post" action="">
<h1> Add Project </h1>
{% csrf_token %}
{{form.as_p}}

<input class="submit_button" type="submit" value="Submit"/>
<a id="cancel_link" href="../accounts/profile/">Cancel</a>

</form>

{% endblock %}
