{% extends "base.html" %}
{% block title %}Add Test{% endblock %}

{% block body %}

<h1> Create Test </h1>

<p>Step {{ step }} of {{ step_count }}</p>

<form method="post" action="" name="form">

{% csrf_token %}


{{form.as_p}}

<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
<button  type="button" onclick="form.submit()">Next</button> <a id="cancel_link" href="../project">Cancel</a>

</form>

{% endblock %}

