{% extends "base.html" %}
{% block title  %} Opps! {% endblock %}

{% block body %}

{% csrf_token %}
<p id="deletion_error"> This is embarrassing, an error occurred. We were not able to delete the item you requested.</p>
<a id="back_link" href="../accounts/profile/" >Back</a>

 {% endblock %}
