{% extends "base.html"%}
{% block title %} Edit Project {% endblock %}

{% block body %}

<form id="form" name="form"  method="post" action="">
<h1> Edit Project </h1>

        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit"  value="Submit" class="submit_button">
	<a id="link_cancel" href="project" >Cancel</a>
</form>

{% endblock %}
