{% extends "base.html" %}
{%block title%} UsabiliT {%endblock %}

{% block body %}
<a href="/accounts/login" id="login_link" class="home_link">Log In </a>
<a href="/accounts/register" id="signup_link" class="home_link"> Sign Up</a>
{% endblock %}
