{% extends "base.html" %}

{% block title %} {{project_name}}  {% endblock %} 
 
{% block body %} 

<form method="post" name="pageProjectForm" action=""> 
{% csrf_token %}
<p id="welcome_message"> Welcome {{username}}, </p> 
<a id="projects_link" href="../accounts/profile/"> Projects </a> 
<input type="image" id="edit_project_link" name="edit_project_link" value={{project_id}} class="edit" onclick="pageProjectForm.action='../edit-project'" />
<a id="help_tutorial" href="#">Help</a>  
<a id="logout_link" href="../accounts/logout">Logout</a> 

<h1>{{project_name}}</h1>
<h2>{{project_description}}</h2> 
 
<a id="add_test_link" href="../add-test1" >Add Test</a>
   
{%for test in test_list %} 
        <p class="test_ name">{{test.name}} </p> 
        <input id="test_select" name="test_select" class="test_select" type="image" value={{test.id}} /> 
        <input id="test_delete"  name="test_delete" class="test_delete" value={{test.id}} type="image" onclick="pageProjectForm.action='../delete-test'"/> 
{% endfor %} 
</form> 
     
{% endblock %}

