{% extends "base.html" %}
{% block title %} Create and Manage Projects {% endblock %}

{% block body %}

<h1>Projects</h1>


<form method="post" id="pageForm" action="">
{% csrf_token %}
<p id="welcome_message"> Welcome {{username}}, </p>
<a id="help_tutorial" href="#">Help</a> 
<a id="logout_link" href="../logout">Logout</a>

<a id=add_project href="../../add-project">Add Project</a>

{%for project in project_list %}
	<p class="project_ name">{{project.name}} </p>
	<input onclick="pageForm.action='../../project'" id="project_select" name="project_select" class="project_select" type="image" value={{project.id}} >
	<input onclick="pageForm.action='../../delete-project'"   id="project_delete"  name="project_delete" class="project_delete" value={{project.id}} type="image" >
{% endfor %}
</form>


{% endblock %}
